.credentials {
  position: relative;
  border: 2px solid lightyellow;
  width: 60rem;
  min-height: 50vh;
  //margin-left: 600px;
  padding: 30px;

  .title {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .search-form {
    display: inherit;
  }
  .search {
    width: 200px;
    margin-right: 20px;
  }
  .right {
    margin-left: 450px;
  }
  .arrow {
    font-size: larger;
  }
}
